body{
    width: 100%;
    background-image: url('bg.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    overflow: hidden;
    margin: auto;
    text-align: center;
}

.logo{
  width: 250px;

}

.blurr{
  width: 100%;
  height: auto;
  left: 0;
  top: 0;
}
.swsw{
  background-color: #282828;
  border-radius: 10px;
  width: 500px;
  text-align: center;
  margin: auto;
  height: auto;
  padding-top: 20px;
  padding-bottom: 50px;
}
.swsw h2{
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  margin-bottom: 30px;
}

.button {
  background: red;
  font-family: Arial, Helvetica, sans-serif;
  border: 0;
  border-radius: 5px;
  color: white;
  width: 80px;
  height: 40px;
}

.field {
  height: 30px;
  width: 70%;
  box-sizing:border-box;
}

a {
  color: white;
  font-family: sans-serif;
  font-weight: none;
  font-size: 13px;
}

#logo {
  width: 50px;
}

label {
  color: white;
}

#d-input {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  margin-left: 15%;
  margin-right: 15%;
}

.namefield {
  height: 30px;
  width: 50%;
  box-sizing:border-box;
}

