body{
    width: 100%;
    background-image: url(line.gif);
    background-repeat: no-repeat;
    background-size: 1362px;
    overflow: hidden;
}
.head h2{
    margin-left: -60px;
    margin-top: -50px;
}
.container{
  margin-top: -50px;
  width: 50%;
  height: 60vh;
  background: rgba(86, 86, 86, 0.3);
  backdrop-filter: blur(10px);
  position:relative;
  left: 0;
  top: -15px;
}
.form-group{
    margin: 30px;
}
.head{
    color: green;
    margin-top: 80px;
    margin-left: 930px;
}
button{
    margin-top: -10px;
    margin-left: 200px;
}
.form-group input{
    margin-left: 20px;
}
.container{
    margin: 5px;
    width: 300px;
    padding: 10px;
    margin-left: 900px;
}
label{
    color: green;
}
.navigation{
    margin-top: 50px;
    margin-left: 30px;
}
.navigation ul{
    display: block;
}
.navigation li{
    list-style: none;
    display: inline-block;
}
.navigation a{
    color: green;
    font-size: 30px;
    margin: 5px;
    transition: 0.8s;
}
.navigation a:hover{
    color: orange;
    font-size: 30px;
    margin: 5px;
}